<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
<!--
    <add name="ApplicationServicesServer" connectionString="Data Source=sbpsbs01\sqldev;Initial Catalog=TrackerDotNetSecurity;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
-->    
    <add name="Tracker08ConnectionStringLocal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\quaffermac.SBPORTAL\Business\dev\DEV_QuaffeeTracker08.mdb" providerName="System.Data.OleDb" />
    <!--
    <add name="Tracker08ConnectionStringLocal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users Shared Folders\Business\Quaffee\Operations\Tracking\QuaffeeTracker08.mdb" providerName="System.Data.OleDb"/>
    -->
    <!-- DEV database for local dev-->
    <!--
    <add name="Tracker08ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\quaffermac.SBPORTAL\Business\dev\DEV_QuaffeeTracker08.mdb" providerName="System.Data.OleDb"/>
    -->
    <!-- Live database for local dev-->
    <add name="Tracker08ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\sbpsbs01\Users\Business\Quaffee\Operations\Tracking\QuaffeeTracker08.mdb" providerName="System.Data.OleDb" />
    <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=TrackerDoNetSecurity;User ID=sa;Password=p@ssw0rd.wm" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
  </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>