<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="NewOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="AgentManager" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrdersEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="AgentManager" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
        <authorization>
              <allow roles="Agents" />
              <deny users="?" />
              <deny users="*" />
              <allow roles="AgentManager" />
        </authorization>
    </system.web>
</configuration>